/* =============================================================================
   @notificacions diàmiques
   *
   * Requereix de modernizR i jQuery per a una experiencia 100%
   * Requereix també notificacions.js
   ========================================================================== */

#notificacions {
    position: fixed;
    z-index: 6101;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 50px;
    height:50px;
    color:white;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    font-weight:bold;
}

#notificacions[error] {
 background: #cc2f0d;
}

#notificacions[ok] {
 background: #2F7302;
}

@-webkit-keyframes slideDown {
	0%, 100% { -webkit-transform: translateY(-50px); }
	10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
	0%, 100% { -moz-transform: translateY(-50px); }
	10%, 90% { -moz-transform: translateY(0px); }
}

.cssanimations.csstransforms #notificacions {
	-webkit-transform: translateY(-50px);
	-webkit-animation: slideDown 5.5s 0s 1 ease forwards;
	-moz-transform:    translateY(-50px);
	-moz-animation:    slideDown 5.5s 0s 1 ease forwards;
}

.cssanimations.csstransforms #close {
  display: none;
}

#close { cursor:pointer }
