
/* =============================================================================
   @galeria

   Modificable, es pot ajuntar amb notificacions.css i paginacio.css
   ========================================================================== */



.ts_galeria:before,.ts_galeria:after{content:"";display:table}.ts_galeria:after{clear:both}.ts_galeria{zoom:1}

/* detalls del producte */

.ts_prod_container_img, .ts_prod_main { float:left }

.ts_prod_container_img { text-align:center; width:45%}

.ts_prod_main { width:55% }

.ts_prod_main > div, .ts_prod_main h2 { margin-left:10px; }

/* llistat dels productes */
.ts_prod_img { text-align:center; border:1px solid gray; width:107px; height:107px; }
.ts_galeria_producte { width:107px; float:left; margin-left:20px; height:165px; max-height:165px; }
.ts_prod_nom { text-overflow: ellipsis; width:107px; overflow:hidden; font-size:10px }
.ts_prod_preu { text-overflow: ellipsis; width:107px; overflow:hidden; font-size:9px; color:#24398a; }



